/*Adi Biton 209355064
 Tmira Ohana 206451585*/

 body {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(244, 239, 241);
}

h1 {
    margin-top: 150px;
    margin-bottom: 10px;
    font-size: 2.5em;
}

p {
    margin-bottom: 60px;
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

#FROM div,
#TO div {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
    flex-wrap: wrap;          /* הוספתי רק את זה! */
}


#TO div,
#result div {
    margin-bottom: 300px;
}

#enternumber div,
#TO div {
    margin-bottom: 50px;
}

#result div,
#convert div {
    margin-bottom: 50px;
}

.from.binary,
.to.binary {
    padding: 10px;
    border-radius: 5px;
    background-color: #ff57cdb6;
    color: white;
    box-shadow: 4px 2px 10px 2px #465351;
}

.from.octal,
.to.octal {
    padding: 10px;
    border-radius: 5px;
    background-color: #ca0cdf86;
    color: white;
    box-shadow: 4px 2px 10px 2px #465351;
}

.from.decimal,
.to.decimal {
    padding: 10px;
    border-radius: 5px;
    background-color: #0bc6438e;
    color: white;
    box-shadow: 4px 2px 10px 2px #465351;
}

.from.hex,
.to.hex {
    padding: 10px;
    border-radius: 5px;
    background-color: #ffde59f4;
    color: white;
    box-shadow: 4px 2px 10px 2px #465351;
}

/* שינוי צבעים בריחוף */
.from.binary:hover,
.to.binary:hover {
    background-color: #ff3d9f;
    color: black;
}

.from.octal:hover,
.to.octal:hover {
    background-color: #8e20a9;
    color: black;
}

.from.decimal:hover,
.to.decimal:hover {
    background-color: #08a543;
    color: black;
}

.from.hex:hover,
.to.hex:hover {
    background-color: #ffd500;
    color: black;
}

/* עיצוב כפתור נבחר */
.selected {
    transform: scale(1.2);
    border: 2px solid #4a4a54;
    box-shadow: 0 0 15px #4a4a54;
    transition: all 0.2s ease-in-out;
}

/* קלט */
input {
    padding: 8px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 15px;
}

/* כפתור Convert */
#convers button {
    background-color: #181506;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

#convers button:hover {
    background-color: #63615a;
    color: black;
}

#FROM button,
#TO button {
    cursor: pointer;
}
